* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img  {
  max-width: 100%;
  object-fit: contain;
  }

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #fbaf00;
  font-size: 1.2rem;
  color: #313131;
  text-align: center;
  font-family: Helvetica, sans-serif;

}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
}

.navbar a {
  text-decoration: none;
  letter-spacing: 0.1rem; 
  color: #313131
}

.navbar a:hover {
  color: #fff;
}


/* title section */

#title-section {
  background-color: #f3f3f3;
  margin-top: 6rem;
  margin-bottom: 1rem
  display: block;
}

#title-section p {
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
}

#title-section .content {
  text-align: center;
}

#title-section quote {
  padding-right: 1.875rem;
  font-family: "Palatino", serif;
  font-size: 1.875rem;
  line-height: 1.1;
  font-style: italic;
  color: #4a4a4a;
}

#title-logo {
  display: block;
  min-height: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  border: none;
  padding-top: 1.5rem;
}

#title-section quote-citation {
  height: 1.875rem;
}

@media only screen and (max-width: 760px) {
  #title-section content {
    padding: 1.875rem .625rem;
  }

  #title-section quote {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  #title-section quote-citation {
    display: block;
    padding-top: 1rem;
    margin: auto;
  }
}
/* About us Section */


#about-us {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5%;
  background-color: #313131;
  margin-top: 2rem;
}

.feature {
  flex: 1;
  padding: 1rem;
  margin: 2.25rem;
  background-color: white;
}

.feature .image-container {
  width: 90%;
  height: 65%;
  margin: 0 auto;
}

.feature .content  {
  padding: 2.5rem;

}

.feature h2 {
  padding-bottom: .5rem;
  font-size: 2.25rem;
  font-weight: bold;
  color: #4a4a4a;
}

.feature h3 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #4a4a4a;
}

@media only screen and (max-width: 890px) {
  .feature h2 {
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  .feature h3 {
    font-size: .875rem;
    line-height: 1.4;
  }
}

@media only screen and (max-width: 760px) {
  #about-us {
    flex-flow: column;
    padding: 0;
  }

  .feature {
    margin: 0;
    padding: 1.25rem 1rem 0 1rem;
  }
}

/* Filters Section */

.image-container img {
  border: none;
}

#portfolio {
  padding: 2rem 0;
  background-color: #7fb069;
}

#portfolio .content {
  padding: 0 .625rem;
  margin-bottom: 5rem;
}

#portfolio .content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
}

#portfolio .content h3 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: white;
}

#portfolio .images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 2rem;
  
}

.image-container {
  padding: 2rem;
}

@media only screen and (max-width: 760px) {
  #portfolio {
    padding: 1.5rem 0 0 0;
  }

  #portfolio .content {
    margin-bottom: 1rem;
  }

  #portfolio .content h2 {
    padding-bottom: .625rem;
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  #portfolio .content h3 {
    font-size: .875rem;
    line-height: 1.4;
  }

  #portfolio .images-container {
    padding: 0;
  }

  #portfolio .extra {
    display: none;
  }
}

/* Quotes Section */

#quotes-section {
  background-color: #313131;
  color: #fff;
}

#quotes-section .content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 1.5rem;
}

#quotes-section quote {
  padding-right: 1.875rem;
  font-family: "Palatino", serif;
  font-size: 1.875rem;
  line-height: 1.1;
  font-style: italic;
  color: #4a4a4a;
}

#quotes-section quote-citation {
  height: 1.875rem;
}

@media only screen and (max-width: 760px) {
  #quotes-section content {
    padding: 1.875rem .625rem;
  }

  #quotes-section quote {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  #quotes-section quote-citation {
    display: block;
    padding-top: 1rem;
    margin: auto;
  }
}

/* Footer */

footer {
  background-color: #e4572e;
  padding: 1.5rem 2rem;
}

footer .content {
  color: white;
  display: flex;
  font-size: .75rem;
}

footer .copyright {
  flex-grow: 1;
}

@media only screen and (min-width: 760px) {
  footer .content {
    font-size: .625rem;
  }
}
