:root {
  font-size: 14px;
  font-family: verdana, arial, helvetica, sans-serif;
  background-color: #ffffff;
  max-width: 50rem;
  text-shadow: 0 0 1px black;
  margin: 0 auto;
}

/* Structure */
.center {
  margin: 0 auto;
  text-align: center;
}

.f_layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}

.f-box_layout {
  flex-direction: row;
  justify-content: flex-end;
}

.f-lbl_layout {
  flex: 1;
}

.f-inp_layout {
  flex: 9;
}

.f-ta_layout {
  resize: none;
}

/* Look */


.f-inp_style {
  border-radius: 5px;
  border: 1px solid;
  text-shadow: 0 0 0.1px;
}