:root {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  height: 1500px;
}

/*f=form lbl=label inp=input fs=fieldset lgnd=legend*/
/* Structure */

/* navbar */

.nav__layout {
	position: fixed;
	text-align: center;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	font-size: 1.2rem;
}

.nav-ul__layout {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;

  gap: 0.75rem;
}

.nav-link__layout {
	letter-spacing: 0.1rem;
}

.f__layout {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 50rem;
	margin: 5rem auto;
	gap: 1.4rem;
}

.f-box__layout {
	display: grid;
	grid-template-columns: 1fr 4fr;
	padding: 0 1rem;
}

.f-lbl__layout {
	display: inline-block;
	width: 10rem;
}

.f-inp__layout {
	resize: none;
	max-width: 300em;
}

.f-btn__layout {
	padding: 0.5rem 5rem;
	font-size: 1rem;
}

.footer__layout {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Look */

.nav__style {
	background-color: #fbaf00;
	list-style: none;
	text-decoration: none;
}

.nav-ul__style {
	list-style: none;
  text-decoration: none;
}

.nav-link__style {
	text-decoration: none;
  color: #313131;
}

.nav-link__style:hover {
	color: #fff;
}

.required {
	color: red;
}

.f__border {
	box-shadow: 10px 0 15px #313131 inset;
	border: 1px solid lightgray;
	padding: 2rem;
}

.f-inp__border {
	border: 0;
	border-bottom: 2px inset;
}

.f-fs__border {
	border: none;
}

.f-btn__style {
	border: none;
	cursor: pointer;
	background-color: #fbaf00;
	box-shadow: 1px -1px 5px 0 #313131;
	border-radius: 5px;
}
.f-btn__style:hover {
	outline: 2px inset;
}
.f-btn__style:active {
	box-shadow: 0 -1px 1px 0 gray inset;
}

.footer__style {
  background-color: #e4572e;
}

/* Scaling */

@media only screen and (max-width: 760px) {
  .nav-ul__layout {
    flex-direction: column;
    text-align: center;
    padding-left: 0;
  }

  .logo {
    min-width: 1em;
  }

	.f__layout {
		gap: 1rem;
	}

	.f-box__layout {
		grid-template-columns: 1fr;
		padding: 0;
		margin: 0;
	}

	.f-btn__layout {
		padding: 0.5rem 2rem;
	}
}

@media only screen and (min-width: 760px) {
  footer .content {
    font-size: .625rem;
  }
}